<div class="navbar-header">
	<a class="navbar-brand" href="#" [routerLink]="['/quick-tour']"></a>

	<ul class="nav navbar-nav pull-right" (click)="active=!active">
		<li class="dropdown" [class.active]="active">
			<span class="dropdown-toggle text-uppercase">Docs<span class="caret"></span></span>
			<ul class="dropdown-menu">
				<li>
					<a href="#" [routerLink]="['/quick-tour']">Quick tour</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/list-controls']">Working with lists</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/paging-and-state']">Paging and lists state</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/selection']">Working with selection</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/filters']">Working with filters</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/persistence']">Persist lists state</a>
				</li>
				<li>
					<a href="#" [routerLink]="['/misc-directives']">Miscellaneous directives</a>
				</li>
			</ul>
		</li>
	</ul>
</div>