@import '../shared.scss';

.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    @include border-radius(0);
}
.navbar-header {
    padding: 16px 0;
    float: left;
}
.navbar-brand {
    width: 190px;
    height: 28px;
    margin-left: 0 !important;
    padding: 0;
    background: url('./assets/images/logo.png') center center no-repeat;
}

.navbar-nav {
    margin: 0;

    > li.dropdown {
        cursor: pointer;
        > .dropdown-toggle {
            display: block;
            line-height: 20px;
            padding: 20px 16px;
            color: $color-white;
            @include opacity(.85);
            @include transition(all .3s);

            &:hover, &:focus {
                background-color: $color-hover-blue;
                @include opacity(1);
            }
        }

        &.active {
            > .dropdown-toggle {
                color: $color-white;
                background-color: $color-hover-blue;
                @include opacity(1);
                cursor: pointer;
            }

            .dropdown-menu {
                height: 280px;

                @media (max-width: 768px ) {
                  height: 336px;
                }
                @media (max-height: 400px) {
                    max-height: 240px;
                    overflow-y: auto;
                    height: 240px;
                }
            }
        }

        .dropdown-menu {
            display: block;
            overflow: hidden;
            height: 0;
            min-width: 100%;
            padding: 0;
            background-color: $color-blue;
            @include border-radius(0);
            border: 0;
            @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.45));
            @include transition(height .25s ease-in-out);

            a {
                color: $color-white;
                text-transform: uppercase;
                padding: 10px 18px;

                &:hover, &:focus {
                    background-color: $color-hover-blue;
                }
                &.link-active {
                    background-color: $color-light-blue;
                }
            }

            @media (max-width:768px) {
              position: fixed;
              top: 59px;
              right: 0;
              left: 0;
              a {
                color: $color-white;
                text-transform: uppercase;
                padding: 14px 18px;

                &:hover, &:focus {
                  background-color: $color-hover-blue;
                }
              }
            }
        }

        @media (max-width: 768px) {
            .dropdown-menu {
                right: 0;
                left: inherit;
            }
        }
    }
}

.navbar-right {
  float: right;

  @media (max-width: 768px) {
    margin-right: -15px;
  }
}