<div class="table-responsive">
	<table class="table table-striped" [rtList]="loadData" #list="rtList">
		<thead>
			<tr>
				<th><span rtSort="iataCode">IATA</span></th>
				<th><span rtSort="name">Airport name</span></th>
				<th><span rtSort="countryName">Country</span></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let airport of list.items">
				<td>{{airport.iataCode}}</td>
				<td>{{airport.name}}</td>
				<td>{{airport.countryName}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">

					<rt-list-state-progress>
						Загружаю данные...
					</rt-list-state-progress>

					<rt-list-state-done>
						<rt-buffered-pager [defaultRowCount]="5" #rtPager>
							<span>Loaded records {{rtPager.pager.loadedCount}} of {{rtPager.pager.totalCount}}</span>
							<a tabindex="0" rtLoadMore [class.hidden]="!rtPager.canLoadMore" href="#">Show more</a>
							<input class="form-control" rtSelectOnFocus rtRowCount [class.hidden]="!rtPager.canLoadMore" type="text" maxlength="3" title="count of rows to load" />
						</rt-buffered-pager>
					</rt-list-state-done>
				</td>
			</tr>
		</tfoot>
	</table>
</div>