<h2>Paging and lists state</h2>
<h3>Table of contents</h3>
<ul class="agenda">
  <li><a href="paging-and-state#common-idea">Общая идея</a></li>
  <li><a href="paging-and-state#bootstrap">Как подключить</a></li>
  <li><a href="paging-and-state#state-components">Компоненты состояния</a></li>
  <li>
    <a href="paging-and-state#paged-pager">Использование <code>rt-paged-pager</code> component</a>
  </li>
  <li>
    <a href="paging-and-state#paged-directives">Additional paged pager directives</a>
  </li>
  <li>
    <a href="paging-and-state#reusable-paged-pager">Пример переиспользуемого paged pager</a>
  </li>
  <li>
    <a href="paging-and-state#buffered-pager">Использование <code>rt-buffered-pager</code> component</a>
  </li>
  <li>
    <a href="paging-and-state#buffered-directives">Additional buffered pager directives</a>
  </li>
  <li>
    <a href="paging-and-state#reusable-buffered-pager">Пример переиспользуемого buffered pager</a>
  </li>
</ul>
<section id="common-idea">
  <aside>
    <p>
      В примерах данного раздела мы используем полноценные списки, чтобы их было привычнее воспринимать. Но все интересное и касающееся
      данного раздела будет происходить исключительно в элементе <code>tfoot</code> в шаблоне.
    </p>
  </aside>


  <h3>Общая идея</h3>
  <p>
    Для работы с paging в нашей библиотеке реализовано множество небольших контролов, ни один из которых не влияет на стили вашего
    конечного приложения. Идея заключается в том, что вы можете самостоятельно собрать нужный вам пейджер с нужной вам версткой,
    стилями и функционалом.
  </p>
  <p>

    Так же вы легко можете реализовать свои контролы. Для этого необходимо заинжектить в конструктор сервис <a target="_blank"
      href="https://fshchudlo.github.io/e2e4/classes/pagedpager.html">PagedPager</a> либо <a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/bufferedpager.html">BufferedPager</a>    и разместить реализованные контролы внутри соответствующего компонента (<code>rt-paged-pager</code> либо <code>rt-buffered-pager</code>)
  </p>
  <p>
    Ниже мы перечислим все имеющиеся компоненты и директивы, касающиеся paging-а и отображения состояния списка. В конце мы представим
    варианты собранных pagers для paged и buffered списков.
  </p>
</section>
<section id="bootstrap">
  <h3>Как подключить</h3>
  <p>
    Для работы со списками необходимо импортировать модуль <code>RTListsModule</code> и подключить его в вашем <code>AppModule</code>.
    Так же вы можете импортировать модуль <code>RtModule</code>, включающий в себя функционал всей библиотеки <code>right-angled</code>    целиком.
  </p>
  <rt-demo-tab-section>
    <rt-demo-code-tab url="paging-and-state/bootstrap/app.module.tsfake">
    </rt-demo-code-tab>
  </rt-demo-tab-section>
</section>
<section id="state-components">
  <h3>Компоненты состояния</h3>
  <p>
    Суть данного набора компонентов проста: каждый из них является контейнером для контента, который необходимо отображать только
    когда список находится в одном из возможных состояний <a target="_blank" href="http://fshchudlo.github.io/e2e4/enums/progressstate.html">ProgressState</a>.
  </p>
  <ul class="bulleted">
    <li><code>rt-list-state-initial</code> - отображает внутреннее содержимое пока не выполнено ни одного запроса</li>
    <li><code>rt-list-state-progress</code> - отображает внутреннее содержимое пока выполняется запрос данных. Идеально подходит
      для отображения progress bar</li>
    <li><code>rt-list-state-no-data</code> - отображает внутреннее содержимое, когда запрос выполнен и возвращено 0 записей</li>
    <li><code>rt-list-state-request-cancelled</code> - отображает внутреннее содержимое если запрос был отменен (например, вызовом
      метода <code>rtList.cancelRequests</code>)</li>
    <li><code>rt-list-state-failed</code> - отображает внутреннее содержимое если последний запрос закончился с ошибкой</li>
    <li><code>rt-list-state-done</code> - отображает внутреннее содержимое если последний запрос был выполнен без ошибок и были
      возвращены записи</li>
  </ul>
  <p>
    Ниже приведен пример, в элементе <code>tfoot</code> которого использованы все 6 компонентов состояний. Нажимая на соответствующие
    кнопки в тулбаре вы можете увидеть их все.
  </p>

  <rt-demo-tab-section>
    <rt-demo-sample-tab>
      <rt-demo-state-components></rt-demo-state-components>
    </rt-demo-sample-tab>
    <rt-demo-code-tab url="paging-and-state/state-components/state-components.component.html">
    </rt-demo-code-tab>
    <rt-demo-code-tab url="paging-and-state/state-components/state-components.component.ts">
    </rt-demo-code-tab>
  </rt-demo-tab-section>

</section>
<section id="paged-pager">
  <h3>Использование <code>rt-paged-pager</code> component</h3>
  <p>
    Прежде всего, чтобы реализовать paged pager, необходимо использовать компонент <code>rt-paged-pager</code>. Данный компонент
    регистрирует себя в листе и, таким образом, список получает функциональность paging. Так же данный компонент служит контейнером
    для целого ряда компонент и директив, при помощи которых реализуется pager.
  </p>
  <p>
    Данный компонент имеет следующие методы и свойства:
  </p>
  <h4>minPageSize = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать минимальное возможное значение для параметра <code>take</code> пейджера. По умолчанию равен 1.
  </p>
  <h4>maxPageSize = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать максимальное возможное значение для параметра <code>take</code> пейджера. По умолчанию равен 200.
  </p>
  <h4>defaultPageSize = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать значение по умолчанию для свойства <code>take</code> размера страницы списка. По умолчанию равен 20.
  </p>

  <aside>
    <p>
      Вы так же можете изменить значения <code>minPageSize</code>, <code>maxPageSize</code> и <code>defaultPageSize</code>      глобально. Для этого необходимо импортировать сервис <code>PagedPager</code> из библиотеки <code>right-angled</code>      и установить значения в статическом объекте <code>settings</code>.
    </p>
    <rt-demo-tab-section>
      <rt-demo-code-tab url="paging-and-state/global-configuration/app.component.paged.ts">
      </rt-demo-code-tab>
    </rt-demo-tab-section>
  </aside>
  <h4>goToFirstPage</h4>
  <p>
    Выполняет переход на первую страницу списка, если это возможно.
  </p>
  <h4>goToPreviousPage</h4>
  <p>
    Выполняет переход на предыдущую страницу списка, если это возможно.
  </p>
  <h4>goToNextPage</h4>
  <p>
    Выполняет переход на следующую страницу списка, если это возможно.
  </p>
  <h4>goToLastPage</h4>
  <p>
    Выполняет переход на последнюю страницу списка, если это возможно.
  </p>
  <h4>canMoveBackward</h4>
  <p>
    Возвращает <code>true</code> если возможен переход на страницу назад (т.е. если текущая страница pager-а не первая).
  </p>
  <h4>canMoveForward</h4>
  <p>
    Возвращает <code>true</code> если возможен переход на страницу вперед (т.е. если текущая страница pager-а не последняя).
  </p>
</section>
<section id="reusable-paged-pager">
  <h3>Пример переиспользуемого paged pager</h3>
  <p>
    Ниже вы можете увидеть реализацию готового, повторно используемого paged pager-а и демо использующего его списка.
  </p>
  <aside>
    <p>
      Шаблон pager-а выглядит несколько жутко и лучше бы реализовать отдельные компоненты-кнопки, вместо вызова методов pager-а
      прямо в шаблоне. Но такой подход с проще с точки зрения демонстрации возможностей фреймворка.
    </p>
  </aside>
  <rt-demo-tab-section>
    <rt-demo-sample-tab>
      <rt-demo-reusable-paged-sample></rt-demo-reusable-paged-sample>
    </rt-demo-sample-tab>
    <rt-demo-code-tab url="shared/footers/paged-footer.component/paged-footer.component.html">
    </rt-demo-code-tab>
    <rt-demo-code-tab url="shared/footers/paged-footer.component/paged-footer.component.ts">
    </rt-demo-code-tab>
  </rt-demo-tab-section>

</section>
<section id="paged-directives">
  <h3>Additional paged pager directives</h3>
  <h4>rtPageNumber</h4>
  <p>
    Элемент <code>input</code> помеченный данной директивой получает функциональность перехода на другую страницу списка.
    Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее, чем общее число страниц в списке.
    При нажатии клавиши <code>Enter</code> в данном элементе будет выполняться загрузка данных.
  </p>
  <h4>rtPageSize</h4>
  <p>
    Элемент <code>input</code> помеченный данной директивой получает функциональность изменения размера страницы списка.
    Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее, чем
    <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html#maxpagesize">maxPageSize</a>. При нажатии
    клавиши <code>Enter</code> так же будет выполняться загрузка данных.
  </p>
</section>
<section id="buffered-pager">
  <h3>Использование <code>rt-buffered-pager</code> component</h3>
  <p>
    Как и в случае с <code>paged pager</code>, все начинается с компонента-контейнера, но на этот раз это <code>rt-buffered-pager</code>.
  </p>
  <p>
    Данный компонент имеет следующие параметры настройки:
  </p>
  <h4>minRowCount = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать минимальное возможное значение для параметра <code>take</code> пейджера. По умолчанию равен 1.
  </p>
  <h4>maxRowCount = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать максимальное возможное значение для параметра <code>take</code> пейджера. По умолчанию равен 200.
  </p>
  <h4>defaultRowCount = "&lt;number&gt;"</h4>
  <p>
    Позволяет указать значение по умолчанию для свойства <code>take</code> размера страницы списка. По умолчанию равен 20.
  </p>
  <aside>
    <p>
      Аналогично <code>PagedPager</code>, вы можете изменить указанные настройки глобально. Для этого необходимо импортировать
      сервис <code>BufferedPager</code> из библиотеки <code>right-angled</code> и установить одноименные значения в статическом
      объекте <code>settings</code>.
    </p>
    <rt-demo-tab-section>
      <rt-demo-code-tab url="paging-and-state/global-configuration/app.component.buffered.ts">
      </rt-demo-code-tab>
    </rt-demo-tab-section>
  </aside>
  <h4>canLoadMore</h4>
  <p>
    Возвращает <code>true</code> если загружены не все записи и можно догрузить еще.
  </p>
  <h4>loadMore</h4>
  <p>
    Выполняет подгрузку следующего набора записей buffered списка при клике по элементу, если это возможно.
  </p>

</section>
<section id="buffered-directives">
  <h3>Additional buffered pager directives</h3>
  <h4>rtRowCount</h4>
  <p>
    Элемент <code>input</code> помеченный данной директивой получает функциональность изменения параметра <code>take</code>.
    Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее, чем
    <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html#maxrowcount">maxRowCount</a>.
  </p>
  <p>
    Так же по нажатию клавиши <code>Enter</code> на данном элементе будет выполняться подгрузка следующего фрагмента данных.
  </p>
</section>
<section id="reusable-buffered-pager">
  <h3>Пример переиспользуемого buffered pager</h3>
  <p>
    Ниже вы можете увидеть реализацию готового, повторно используемого buffered pager-а и демо использующего его списка.
  </p>
  <aside>
    <p>
      Как и в случае paged pager, шаблон выглядит несколько жутко и лучше бы реализовать отдельные компоненты-кнопки, вместо вызова
      методов pager-а прямо в шаблоне. Но такой подход с проще с точки зрения демонстрации возможностей фреймворка.
    </p>
  </aside>
  <rt-demo-tab-section>
    <rt-demo-sample-tab>
      <rt-demo-reusable-buffered-sample></rt-demo-reusable-buffered-sample>
    </rt-demo-sample-tab>
    <rt-demo-code-tab url="shared/footers/buffered-footer.component/buffered-footer.component.html">
    </rt-demo-code-tab>
    <rt-demo-code-tab url="shared/footers/buffered-footer.component/buffered-footer.component.ts">
    </rt-demo-code-tab>
  </rt-demo-tab-section>
</section>