@import '../shared.scss';

:host /deep/ section:target h3 {
    text-decoration: underline;
}

:host /deep/ .col-md-4, :host /deep/ .options {
    padding: 5px;
}

:host /deep/ .item {
    background-color: rebeccapurple;
    padding: 25px;
    color: $color-white;
    text-align: center;
    cursor: pointer;
    margin: 1px 0;
}

:host /deep/ .item.selected {
    background-color: $color-blue !important;
}
