@import '../../../shared.scss';

:host {
    text-align: right;
    display: block;

    > * {
        display: block;
    }

    rt-list-state-done {
        text-align: right;
    }
}

span.go-to-first-page, span.go-to-prev-page, span.go-to-next-page, span.go-to-last-page {
    display: inline-block;
    width: 24px;
    height: 21px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
        @include opacity(.85);
    }

    &.disabled {
        cursor: no-drop;
        @include opacity(.45);
    }
}

span.go-to-first-page {
    background-image: url('./assets/images/go-to-first-page.png');
}

span.go-to-prev-page {
    background-image: url('./assets/images/go-to-prev-page.png');
}

span.go-to-next-page {
    background-image: url('./assets/images/go-to-next-page.png');
}

span.go-to-last-page {
    background-image: url('./assets/images/go-to-last-page.png');
}
