@import '../../shared.scss';

th.t-col-row-number {
    width: 5%;
}
th.t-col-iata-code {
    width: 5%;
}
th.t-col-timezone {
    width: 15%;
}
th.t-col-airport-name {
    width: 25%;
}
th.t-col-city-name {
    width: 20%;
}
th.t-col-country-name {
    width: 15%;
}
th.t-col-region {
    width: 10%;
}
th.t-col-size {
    width: 5%;
}