<div [rtList]="loadData" #list="rtList" [loadOnInit]="false" (onListInit)="onListInit($event)">
	<rt-demo-filter-area [list]="list" #filter [rtRegisterAsFilter]="filter">
	</rt-demo-filter-area>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="t-col-iata-code">
						<span [rtSort]="'iataCode'">IATA</span>
					</th>
					<th class="t-col-airport-name">
						<span [rtSort]="'name'">Airport name</span>
					</th>
					<th class="t-col-city-name">
						<span [rtSort]="'cityName'">City</span>
					</th>
					<th class="t-col-country-name">
						<span [rtSort]="'countryName'">Country</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let airport of list.items">
					<td>{{airport.iataCode}}</td>
					<td>{{airport.name}}</td>
					<td>{{airport.cityName}}</td>
					<td>{{airport.countryName}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<rt-demo-paged-footer></rt-demo-paged-footer>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>