@import '../../shared.scss';

:host /deep/ thead {
    th.t-col-iata-code {
        width: 10%;
    }

    th.t-col-airport-name {
        width: 35%;
    }

    th.t-col-city-name {
        width: 30%;
    }

    th.t-col-country-name {
        width: 25%;
    }
}
