<div class="table-responsive" [rtList]="getAirports" #list="rtList">
	<form>
		<div class="form-group">
			<input (click)="list.loadData()" [disabled]="list.busy" type="submit" class="btn btn-load" title="Load data" value="Load data" />
			<input (click)="list.cancelRequests()" [disabled]="list.ready" type="button" class="btn btn-cancel" title="Cancel loading" value="Cancel loading" />
			<button (click)="list.resetSettings()" [disabled]="list.busy" type="button" class="btn btn-reset" title="Reset settings">Reset settings</button>
		</div>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th><span rtSort="iataCode">IATA</span></th>
				<th><span rtSort="name">Airport name</span></th>
				<th><span rtSort="countryName">Country</span></th>
			</tr>
		</thead>
		<tbody rtSelectionArea>
			<tr *ngFor="let airport of list.items" [class.selected]="rts.selected" [rtSelectable]="airport" #rts="rtSelectable">
				<td>{{airport.iataCode}}</td>
				<td>{{airport.name}}</td>
				<td>{{airport.countryName}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<rt-list-state-progress>
						<div></div>
					</rt-list-state-progress>
					<rt-list-state-done>
						Data was loaded sucessfully.
					</rt-list-state-done>
					<rt-list-state-request-canceled>
						Request was cancelled.
					</rt-list-state-request-canceled>

				</td>
			</tr>
		</tfoot>
	</table>
</div>