@import 'shared.scss';
@import 'prettyprint-angulario.scss';

html, body {
    background: $color-light-grey;
    font-size: $font-medium;
    * {
        outline: none !important;
    }
}
.app-loader {
    width: 100%;
    height: 100vh;
    background: url(~/assets/images/app-loader.gif) center center no-repeat;
}

.btn-primary {
    background-color: $color-light-blue;
    border-color: $color-light-blue;
    @include border-radius(0);
    &:hover,
    &:focus {
        background-color: $color-btn-primary-focus;
        border-color: $color-btn-primary-focus;
    }
    &:active {
        background-color: $color-btn-primary-active;
        border-color: $color-btn-primary-active;
        @include box-shadow(none);
    }
}
div.toolbar {
        text-align: right;
        padding-bottom: 15px;
    ul {
        padding-left: 0;
        margin-left: -5px;
        list-style: none;
        text-align: right;
        margin-right: -5px;
        margin-bottom: 0;
        li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
     }
    }
}
// overwrite bootstrap style for disbled controls since angular can write disabled="false"
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: default;
}
.form-control[disabled="true"], fieldset[disabled="true"] .form-control {
    cursor: not-allowed;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.form-control[disabled="true"], fieldset[disabled="true"] .form-control {
    background-color: #eee;
    opacity: 1;
}