<div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h1>Paging and lists state</h1>
        <h3>Table of contents</h3>
        <ul>
            <li><a href="paging-and-state#common-idea">Общая идея</a></li>
            <li><a href="paging-and-state#bootstrap">Как подключить</a></li>
            <li><a href="paging-and-state#state-components">Компоненты состояния</a></li>
            <li><a href="paging-and-state#paged-components">Paged pager components</a></li>
            <li><a href="paging-and-state#buffered-components">Buffered pager components</a></li>
            <li><a href="paging-and-state#reusable-component">Complete reusable pager</a></li>
        </ul>
        <section id="common-idea">
            <h3>Общая идея</h3>
            <p>
                Для работы с paging в нашей библиотеке реализовано множество небольших контролов, ни один из которых не влияет на стили вашего
                конечного приложения. Идея заключается в том, что вы можете самостоятельно собрать нужный вам пейджер с нужной
                вам версткой, стилями и функционалом.
            </p>
            <p>
                Ниже мы перечислим все имеющиеся компоненты и директивы, касающиеся paging-а и отображения текущего состояния списка. В конце
                мы представим вариантs собранных pagers для paged и buffered списков.
            </p>
        </section>
        <section id="bootstrap">
            <h3>Как подключить</h3>
            <p>Данный функционал поставляется вместе с функционалом списков в модуле <code>RTListsModule</code> Также можно
                импортировать модуль <code>RtModule</code>, включающий в себя функционал всей библиотеки целиком.
            </p>
            <rt-demo-tab-section>
                <rt-demo-code-tab url="%2Bpaging-and-state/bootstrap/app.module.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="state-components">
            <h3>Компоненты состояния</h3>
            <p>
                Суть данного набора компонентов проста: каждый из них является котейнером для контента, и отображается только когда список
                находится в одном из возможных состояний <a target="_blank" href="http://fshchudlo.github.io/e2e4/enums/progressstate.html">ProgressState</a>.
            </p>
            <p>
                Например, при помощи компонента <code>rt-list-state-progress</code> вы можете отобразить spinner на время
                загрузки данных.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="State components">
                    <rt-demo-state-components></rt-demo-state-components>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/state-components/state-components.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/state-components/state-components.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
            <h4>rt-list-state-initial</h4>
            <p>
                Отображает внутреннее содержимое пока списком не выполнено ни одного запроса
            </p>
            <h4>rt-list-state-progress</h4>
            <p>
                Отображает внутреннее содержимое пока список выполняет запрос данных. Идеально подходит для отображения progress bar.
            </p>
            <h4>rt-list-state-no-data</h4>
            <p>
                Отображает внутреннее содержимое когда список закончил выполнение запроса и было возвращено 0 записей.
            </p>
            <h4>rt-list-state-request-canceled</h4>
            <p>
                Отображает внутреннее содержимое если запрос данных был отменен (например нажатием кнопки с директивой <code>rtCancelLoad</code>).
            </p>
            <h4>rt-list-state-failed</h4>
            <p>
                Отображает внутреннее содержимое если последний запрос данных вернул ошибку.
            </p>
            <h4>rt-list-state-done</h4>
            <p>
                Отображает внутреннее содержимое если последний запрос данных был выполнен без ошибок и было возвращено больше нуля записей.
            </p>
        </section>
        <section id="paged-components">
            <h3>Paged pager components</h3>
            <p>
                Данный набор директив представляет собой мост к функциональности сервиса <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html">PagedPager</a>.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="Paged list components">
                    <rt-demo-paged-components></rt-demo-paged-components>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/paged-components/paged-components.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/paged-components/paged-components.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
            <h4>rtPageNumber</h4>
            <p>
                Элемент <code>input</code> помеченный данной директивой получает функциональность перехода на другую страницу
                списка. Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее, чем общее
                число страниц в списке. Так же по нажатию клавиши <code>Enter</code> на данном элементе будет выполняться
                перезагрузка данных
            </p>
            <h4>rtPageSize</h4>
            <p>
                Элемент <code>input</code> помеченный данной директивой получает функциональность изменения размера страницы
                списка. Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее, чем
                <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html#maxpagesize">maxPageSize</a>.
                Так же по нажатию клавиши <code>Enter</code> на данном элементе будет выполняться перезагрузка данных
            </p>
            <h4>rtGoToFirstPage</h4>
            <p>
                При клике по элементу помеченному данной директивой будет выполняться переход на первую страницу paged списка. Так же у элемента
                будет автоматически выставляться свойство
                <code>disabled</code> в зависимости от доступности данного действия
            </p>
            <h4>rtGoToPreviousPage</h4>
            <p>
                При клике по элементу помеченному данной директивой будет выполняться переход на предыдущую страницу paged списка. Так же
                у элемента будет автоматически выставляться свойство
                <code>disabled</code> в зависимости от доступности данного действия
            </p>
            <h4>rtGoToNextPage</h4>
            <p>
                При клике по элементу помеченному данной директивой будет выполняться переход на следующую страницу paged списка. Так же
                у элемента будет автоматически выставляться свойство
                <code>disabled</code> в зависимости от доступности данного действия
            </p>
            <h4>rtGoToLastPage</h4>
            <p>
                При клике по элементу помеченному данной директивой будет выполняться переход на последнюю страницу paged списка. Так же
                у элемента будет автоматически выставляться свойство
                <code>disabled</code> в зависимости от доступности данного действия
            </p>
        </section>
        <section id="buffered-components">
            <h3>Buffered pager components</h3>
            <p>
                Данный набор директив представляет собой мост к функциональности сервиса <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html">BufferedPager</a>.
            </p>

            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="Buffered list components">
                    <rt-demo-buffered-components></rt-demo-buffered-components>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/buffered-components/buffered-components.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="%2Bpaging-and-state/buffered-components/buffered-components.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
            <h4>rtLoadMore</h4>
            <p>
                При клике по элементу, помеченному данной директивой, будет выполняться подгрузка следующего набора записей. Так же у элемента
                будет автоматически выставлено свойство <code>disabled</code>, когда в список будут подгружены
                все записи.
            </p>
            <h4>rtRowCount</h4>
            <p>
                Элемент <code>input</code> помеченный данной директивой получает функциональность изменения количества элементов
                для подгрузки. Вводимые значения ограничиваются рядом правил. Например, нельзя указать значение большее,
                чем
                <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html#maxrowcount">maxRowCount</a>.
                Так же по нажатию клавиши <code>Enter</code> на данном элементе будет выполняться подгрузка следующего фрагмента
                данных и автоматически будет выставлено свойство <code>disabled</code>, когда в список будут подгружены все
                записи
            </p>
        </section>
        <section id="reusable-component">
            <h3>Complete reusable pager</h3>
            <p>
                Ниже вы можете увидеть живые примеры буферного и paged списков, в которых в качестве футера используются полностью изолированный
                компоненты, использующие все описанные выше компоненты и директивы.
            </p>
            <p>
                Обратите внимание, что в компоненты мы инжектим сервиса PagedPager и BufferedPager. Мы их используем для того, чтобы отрисовать
                в шаблоне сообщение о том, сколько записей загружено и сколько их всего на сервере.
            </p>

            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="Buffered pager">
                    <rt-demo-reusable-buffered-sample></rt-demo-reusable-buffered-sample>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="shared/footers/buffered-footer.component/buffered-footer.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/footers/buffered-footer.component/buffered-footer.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>

            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="Paged pager">
                    <rt-demo-reusable-paged-sample></rt-demo-reusable-paged-sample>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="shared/footers/paged-footer.component/paged-footer.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/footers/paged-footer.component/paged-footer.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
    </div>
</div>