@import './shared.scss';

:host /deep/ div {
    .navbar-fixed-top {
        border: 0;
        margin-bottom: 0;
        background-color: $color-blue;
        @include border-radius(0);
        @include box-shadow(0 0 10px 0 rgba(0, 0, 0, .65));
    }

    .layout {
        min-height: 100vh;
        padding: 70px 0;

    }

    .navbar-bottom {
        height: 60px;
        border: 0;
        padding: 20px 0;
        background-color: $color-gray;
        margin-bottom: 0;
        @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.25));

        a {
            color: $color-black;
        }
    }
}
