@import './shared.scss';

:host /deep/ div {
    .navbar-fixed-top {
        border: 0;
        margin-bottom: 0;
        background-color: $color-blue;
        @include border-radius(0);
        @include box-shadow(0 0 10px 0 rgba(0, 0, 0, .65));
    }

    .layout {
        min-height: 100vh;
        padding: 70px 0;

        h1, h2 {
            color: #049AE6;
        }

        h3, h4, h5, h6 {
            color: $color-blue;
            margin-bottom: 20px;
        }

        ul {
            li {
                background: url(assets/images/list-item.png) no-repeat left top;
                background-repeat: no-repeat;
                background-position-y: 8px;
                padding-left: 10px;
                list-style: none;
            }

            &.agenda {
                li {
                    padding-left: 0;
                    background: none;
                }
            }
        }

        a {
            color: #147391;
        }
    }

    .navbar-bottom {
        height: 60px;
        border: 0;
        padding: 20px 0;
        background-color: $color-gray;
        margin-bottom: 0;
        @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.25));

        a {
            color: $color-black;
        }
    }
}
