<div>
	<form>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="form-group">
					<label>Airport name</label>
					<input type="text" class="form-control" [(ngModel)]="airportName" name="airportName" />
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="form-group">
					<label>Country</label>
					<input type="text" class="form-control" [(ngModel)]="country" name="country" />
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="form-group">
					<input (click)="list.showRequestState()" type="submit" class="btn btn-primary" title="Serialize state" value="Serialize state"
					/>
				</div>
			</div>
		</div>
	</form>

	<div>
		{{lastRequest|json}}
	</div>
</div>