<div class="col-md-3">
    <div class="form-group">
        <label>Region</label>
        <select class="form-control" [ngModel]="selectedRegion" (ngModelChange)="onRegionChanged($event)" name="region">
            <option *ngFor="let type of regions | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>

<div class="col-md-3">
    <div class="form-group">
        <label>Country</label>
        <select class="form-control" [ngModel]="selectedCountry" (ngModelChange)="onCountryChanged($event)" name="country">
            <option *ngFor="let type of countries | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label>City</label>
        <select class="form-control" [(ngModel)]="selectedCity" name="city">
            <option *ngFor="let type of cities | async" [value]="type.key">{{type.value}}</option>
        </select>
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <input (click)="list.loadData()" [disabled]="list.busy" type="submit" class="btn btn-load" title="Load data from server" />
        <input (click)="list.cancelRequests()" [disabled]="list.ready" type="button" class="btn btn-cancel" title="Cancel loading" />
        <button (click)="list.resetSettings()" [disabled]="list.busy" type="button" class="btn btn-reset" title="Reset settings"></button>
    </div>
</div>