<h2>Persist lists state</h2>
<h3>Table of contents</h3>
<ul class="agenda">
	<li><a href="persistence#common-idea">Общая идея</a></li>
	<li><a href="persistence#service-implementations">Примеры реализаций контракта <code>RtStateService</code></a></li>
	<li>
		<a href="persistence#service-usage">Подключение и использование реализованных сервисов</a>
		<ol>
			<li><a href="persistence#concrete-component">Регистрация в конкретном компоненте</a></li>
			<li><a href="persistence#helper-directives">Пишем вспомогательные директивы</a></li>
			<li><a href="persistence#global-registration">Регистрация глобального <code>StateService</code></a></li>
		</ol>
	</li>
</ul>
<section id="common-idea">
	<h3>Общая идея</h3>
	<p>
		Если вы уже просмотрели раздел про <a href="#" [routerLink]="['/filters']">работу с фильтрами</a>, то вы знаете, что при
		помощи декоратора <code>@filter</code> можно декларативно пометить поля вашего компонента как фильтры и гибко настроить
		параметры их отправки на сервер при запросе данных.
	</p>
	<p>
		Однако, на этом возможности использования фильтров не исчерпываются. Например:
	</p>
	<ul class="bulleted">
		<li>Мы можем сохранять состояние важных параметров списка (сортировки, размер страницы) в <code>localStorage</code>, и передавать
			их списку когда пользователь посетит страницу в следующий раз</li>
		<li>Мы можем сохранять параметры списка в <code>sessionStorage</code>, и восстанавливать их когда пользователь вернется на
			страницу в той же сессии. Вернувшись на страницу пользователь получит ровно то же состояние, в котором он ее покинул.
			Со значениями всех фильтров и прочего</li>
		<li>Мы можем сохранять состояние всех параметров списка в <code>queryString</code>. Когда пользователь поделится ссылкой на
			страницу, то открывший ее получит то же самое состояние страницы, что и у отправившего ее пользователя
		</li>
		<li>Мы можем делать все, перечисленное выше, одновременно</li>
	</ul>
	<p>
		Поскольку логика того, как сохранять настройки и как потом идентифицировать их, является очень специфичной для конечного
		приложения, наша библиотека содержит не готовые реализации, а лишь контракт для их поддержки.
	</p>
	<p>
		Тем не менее, в данном разделе мы покажем примеры реализаций, которые могут послужить для вас отправной точкой для реализации
		собственных.
	</p>
</section>
<section id="service-implementations">
	<h3>Примеры реализаций контракта <code>RtStateService</code></h3>
	<p>Прежде всего, необходимо реализовать сервис (или сервисы), наследующие абстрактный класс <code>RtStateService</code></p>
	<rt-demo-tab-section>
		<rt-demo-code-tab [fromLib]="true" url="core/state-service.ts">
		</rt-demo-code-tab>
	</rt-demo-tab-section>
	<p>Метод <code>getState</code> будет вызываться списком при инициализации и должен возвращать сохраненные раннее настройки.</p>
	<p>Метод <code>persistState</code> будет вызываться списком при каждой загрузке данных. То есть логика такова, что если пользователь
		поменял какие-либо параметры и "подтвердил", что это то, что ему нужно, нажатием кнопки "загрузить", то мы можем запомнить
		эти параметры. Для этого мы вызываем метод
		<a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/filtersservice.html#getrequeststate">getRequestState</a>		переданного объекта <code>filtersService</code>, передавая ему, при необходимости, делегат для фильтрации результата.
	</p>
	<p>
		Ниже вы можете увидеть три простейших примера сервисов, реализующих <code>RtStateService</code> и сохраняющих состояние
		списка в <code>localStorage</code>, <code>sessionStorage</code> и <code>queryString</code>.
	</p>
	<rt-demo-tab-section>
		<rt-demo-code-tab url="shared/state-services/local-storage-state-service.ts">
		</rt-demo-code-tab>
		<rt-demo-code-tab url="shared/state-services/session-storage-state-service.ts">
		</rt-demo-code-tab>
		<rt-demo-code-tab url="shared/state-services/query-string-state-service.ts">
		</rt-demo-code-tab>
	</rt-demo-tab-section>

	<p>
		Сервисы <code>RtLocalStorageStateService</code> и <code>RtSessionStorageStateService</code> ни чем не примечательны кроме
		того, что инжектят объект <a target="_blank" href="https://angular.io/docs/ts/latest/api/router/index/ActivatedRoute-interface.html">ActivatedRoute</a>		и на его основе строят ключ для сериализации/десериализации настроек списка.
	</p>
	<aside>
		<p>
			Хорошее это решение или нет, зависит от требований к конечному приложению. Например, более подходящим вариантом может быть
			задание ключа для каждого компонента по отдельности и регистрация ключа в контейнере компонента при помощи
			<a target="_blank" href="https://angular.io/docs/ts/latest/api/core/index/OpaqueToken-class.html">OpaqueToken</a>.
		</p>
	</aside>
	<p>
		Сервис <code>RtQueryStringStateService</code> чуть сложнее. Вот ключевые моменты:
	</p>
	<ul class="bulleted">
		<li>
			Сервис использует функцию <a target="_blank" href="http://fshchudlo.github.io/e2e4/index.html#cloneasliteral">cloneAsLiteral</a>			для клонирования текущих параметров, поскольку, если вы попытаетесь изменить имеющиеся параметры напрямую, то получите
			ошибку <code>object is not extensible</code>
		</li>
		<li>
			Сервис использует функцию <a href="https://angular.io/docs/ts/latest/api/common/index/Location-class.html#!#replaceState-anchor">location.replaceState</a>,
			чтобы перезаписать текущий url, не меняя историю в браузере.
		</li>
	</ul>

</section>
<section id="service-usage">
	<h3>Подключение и использование реализованных сервисов</h3>
	<p>Далее нам необходимо зарегистрировать реализованные сервисы.</p>
	<section id="concrete-component">
		<h4>Регистрация в конкретном компоненте</h4>
		<p>
			Самый простой способ - сделать все вручную. В примере ниже мы реализуем обработчик события <a href="#" [routerLink]="['/list-controls']">onListInit</a>			и регистрируем соответствующие сервисы при помощи метода <code>registerStateService</code>.
		</p>
		<rt-demo-tab-section>
			<rt-demo-sample-tab tabTitle="Live demo">
				<rt-demo-persistence-sample></rt-demo-persistence-sample>
			</rt-demo-sample-tab>
			<rt-demo-code-tab url="%2Bpersistence/persistence-sample/persistence-sample.component.ts">
			</rt-demo-code-tab>
			<rt-demo-code-tab url="%2Bpersistence/persistence-sample/persistence-sample.component.html">
			</rt-demo-code-tab>
		</rt-demo-tab-section>
	</section>
	<section id="helper-directives">
		<h4>Пишем вспомогательные директивы</h4>
		<p>Разумеется, реализованный выше подход не самый лучший, если нам нужно повторять описанные действия во множестве списков.
			Ниже приведен пример трех вспомогательных директив, которые можно добавить в шаблон компонента внутри списка, и они выполнят
			регистрацию <code>state</code>-сервисов самостоятельно.
		</p>
		<rt-demo-tab-section>
			<rt-demo-code-tab url="shared/state-services/serialize-to-local-storage.directive.ts">
			</rt-demo-code-tab>
			<rt-demo-code-tab url="shared/state-services/serialize-to-session-storage.directive.ts">
			</rt-demo-code-tab>
			<rt-demo-code-tab url="shared/state-services/serialize-to-query-string.directive.ts">
			</rt-demo-code-tab>
		</rt-demo-tab-section>
	</section>
	<section id="global-registration">
		<h4>Регистрация глобального <code>StateService</code></h4>
		<p>
			Для этого необходимо вызвать метод <code>RtModule.registerStateService</code> либо <code>RtListModule.registerStateService</code>			передав в качестве параметра объект с настройками, аналогичными настройкам, доступным при регистрации провайдера в angular
			dependency injection.
		</p>
		<rt-demo-tab-section>
			<rt-demo-code-tab url="%2Bpersistence/bootstrap/app.module.tsfake">
			</rt-demo-code-tab>
		</rt-demo-tab-section>
	</section>
	<aside>
		<p>
			Возможна ситуация, когда вы зарегистрируете несколько провайдеров для <code>RtStateService</code>, используя
			<a href="https://angular.io/docs/ts/latest/api/core/index/ClassProvider-interface.html">флаг multi</a>. В таком случае
			разумным будет вопрос: а что, если несколько провайдеров вернут настройки для одного и того же параметра?</p>
		<p> Ответ следующий: методы <code>getState</code> будут вызваны в том же порядке, в котором вы зарегистрировали ваши сервиса.
			Итоговое состояние будет собрано посредством вызова <code>Object.assign(&#123;&#125;, state1, state2, ...)</code>
		</p>
	</aside>
</section>