<h1>List controls</h1>
<section>
	<h3>Table of contents</h3>
	<ul>
		<li><a href="list-controls#common-idea">Общая идея</a></li>
		<li><a href="list-controls#bootstrap">Как подключить</a></li>
		<li><a href="list-controls#rt-list">Директива <code>rtList</code></a>
			<ul>
				<li>
					<a href="list-controls#rt-list-param">Директива <code>rtList</code></a>
				</li>
				<li>
					<a href="list-controls#load-on-init">Параметр <code>loadOnInit</code></a>
				</li>
				<li>
					<a href="list-controls#default-sortings">Параметр <code>defaultSortings</code></a>
				</li>
				<li>
					<a href="list-controls#on-list-init">Событие <code>onListInit</code></a>
				</li>
				<li>
					<a href="list-controls#after-list-inited">Событие <code>afterListInit</code></a>
				</li>
				<li>
					<a href="list-controls#destroy-all">Уничтожение элементов списка и метод <code>destroyAll</code></a>
				</li>
			</ul>
		</li>
		<li><a href="list-controls#rt-sort">Директива <code>rtSort</code></a></li>
		<li><a href="list-controls#rt-row-number"><code>rtRowNumber</code> pipe</a></li>
		<li><a href="list-controls#load-methods">Методы и свойства <code>rtList</code></a></li>
	</ul>
</section>
<section id="common-idea">
	<h3>Общая идея</h3>
</section>
<section id="bootstrap">
	<h3>Как подключить</h3>
</section>
<section id="rt-list">
	<h3>Директива <code>rtList</code></h3>

	<section id="rt-list-param">
		<h4>Директива <code>rtList</code></h4>
	</section>
	<section id="load-on-init">
		<h4>Параметр <code>loadOnInit</code></h4>
	</section>
	<section id="default-sortings">
		<h4>Параметр <code>defaultSortings</code></h4>
	</section>
	<section id="on-list-init">
		<h4>Событие <code>onListInit</code></h4>
	</section>
	<section id="on-list-inited">
		<h4>Событие <code>afterListInit</code></h4>
	</section>
</section>
<section id="rt-sort">
	<h3>Директива <code>rtSort</code></h3>
	<p>
		Данная директива предназначена для настройки сортировок списка. Директива принимает в качестве обязательного параметра идентификатор
		сортировки, который будет передаваться в запросе за данными.
	</p>
	<p>
		Ниже расположен живой пример списка с сортировкам, а так же объявления контрактов <code>SortParameter</code> и <code>AirportsListRequest</code>.
		Моменты, на которые следует обратить внимание, следующие:
	</p>
	<ul>
		<li>
			К элементу, помеченному данной директивой, добавляется класс <code>rt-sortable</code>. С помощью данного класса вы можете
			настроить стили, сигнализирующие, что элемент сортируемый. Например, в наших примерах это появление двунаправленной стрелки
			справа от элемента при наведении мыши.
		</li>
		<li>
			При клике по элементу переданный параметр-идентификатор добавляется в коллекцию примененных сортировок с направлением
			<code>Asc</code> и тут же вызывается метод загрузки данных, в который передается массив <code>sortings</code> с указанной
			сортировкой в указанном направлении. К самому элементу добавляется класс <code>rt-sort-asc</code>, с помощью которого
			можно настилить внешний вид отсортированного столбца.
		</li>
		<li>
			При повторном клике направление сортировки меняется на противоположное и выполняется запрос за данными. Класс <code>rt-sort-asc</code>			элемента изменяется на <code>rt-sort-desc</code>.
		</li>
		<li>
			С помощью клика с зажатой клавишей <code>Ctrl</code> можно настроить сортировку по нескольким полям. В таком случае, в
			массив <code>sortings</code> будет передаваться несколько значений.
		</li>
	</ul>
	<rt-demo-tab-section>
		<rt-demo-sample-tab tabTitle="Live demo">
			<rt-demo-use-sortings></rt-demo-use-sortings>
		</rt-demo-sample-tab>
		<rt-demo-code-tab url="%2Blist-controls/use-sortings/use-sortings.component.html">
		</rt-demo-code-tab>
		<rt-demo-code-tab url="shared/data/airports-list-request.ts">
		</rt-demo-code-tab>
		<rt-demo-code-tab url="shared/data/sort-parameter.ts">
		</rt-demo-code-tab>

	</rt-demo-tab-section>
</section>
<section id="rt-row-number">
	<h3><code>rtRowNumber</code> pipe</h3>
	<p>Данный pipe может быть использован в шаблонах элемента списка для автоматической нумерации строк. Он распознает с каким
		пейджером работает и проставляет соответствующим образом номера, например, начиная нумерацию не с 1, а с 21 для второй
		страницы постраничного списка.
	</p>
	<p>
		Данный pipe применяется к значению <code>index</code>, представляющему собой индекс текущего элемента в
		коллекции. Также pipe-у необходимо передать директиву <code>rtList</code> в качестве параметра.
	</p>
	<rt-demo-tab-section>
		<rt-demo-sample-tab tabTitle="Live demo">
			<rt-demo-use-row-number></rt-demo-use-row-number>
		</rt-demo-sample-tab>
		<rt-demo-code-tab url="%2Blist-controls/use-row-number/use-row-number.component.html">
		</rt-demo-code-tab>
	</rt-demo-tab-section>
</section>
<section id="list-methods">
	<h3>Методы <code>loadData</code>, <code>reloadData</code>, <code>cancelRequests</code>, <code>resetSettings</code></h3>
	<ul>
		<li>
			<code>loadData</code> - выполняет загрузку данных в список.
		</li>
		<li>
			<code>reloadData</code> - выполняет перезагрузку (загрузку
			со сбросом параметров пейджинга) данных в список.
		</li>
		<li>
			<code>cancelRequests</code> - выполняет отмену выполняющегося
			в данный момент времени запроса данных для списка.
		</li>
		<li>
			<code>resetSettings</code> - выполняет сброс параметров
			списка (сортировки, пейджинг, фильтры).
		</li>
		<li>
			<code>busy</code> - возвращает <code>true</code> если в данный момент времени выполняется запрос за данными.
		</li>
		<li>
			<code>ready</code> - возвращает <code>true</code> если в данный момент времени запрос за данными НЕ выполняется.
		</li>
	</ul>
	<p>
		Ниже приведен пример списка с четырьмя кнопками, использующими описанные выше методы и свойства.
	</p>
	<rt-demo-tab-section>
		<rt-demo-sample-tab tabTitle="Live demo">
			<rt-demo-use-rt-list></rt-demo-use-rt-list>
		</rt-demo-sample-tab>
		<rt-demo-code-tab url="%2Blist-controls/use-rt-list/use-rt-list.component.html">
		</rt-demo-code-tab>
	</rt-demo-tab-section>
</section>