<h1>Documentation is in progress</h1>
<h3>Table of contents</h3>
<ul>
    <li><a href="list-controls#common-idea">Общая идея</a></li>
    <li><a href="list-controls#bootstrap">Как подключить</a></li>
    <li><a href="list-controls#list-params">Параметры rt-list</a></li>
    <li><a href="list-controls#paged-list-params">Параметры rt-paged-list</a></li>
    <li><a href="list-controls#buffered-list-params">Параметры rt-buffered-list</a></li>
    <li><a href="list-controls#additional-controls">Вспомогательные контролы</a></li>
</ul>
<section id="paged-list-params">
    <h3>Параметры rt-paged-list</h3>
    <h4>rtMinPageSize = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html#minpagesize">minPageSize</a>.
    </p>
    <h4>rtMaxPageSize = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства
        <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html#maxpagesize">maxPageSize</a>.
    </p>
    <h4>rtDefaultPageSize = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства
        <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/pagedpager.html#defaultpagesize">defaultPageSize</a>.
    </p>

</section>
<section id="buffered-list-params">
    <h3>Параметры rt-buffered-list</h3>
    <h4>rtMinRowCount = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html#minrowcount">minRowCount</a>.
    </p>
    <h4>rtMaxRowCount = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства
        <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html#maxrowcount">maxRowCount</a>.
    </p>
    <h4>rtDefaultRowCount = "&lt;number&gt;"</h4>
    <p>
        Позволяет указать значение для свойства
        <a target="_blank" href="http://fshchudlo.github.io/e2e4/classes/bufferedpager.html#defaultrowcount">defaultRowCount</a>.
    </p>
</section>