@import '../shared.scss';

:host /deep/ .pager {
    padding: 10px;
    background-color: $color-light-blue;
    color: $color-white;
    margin-top: 0;
}

:host /deep/ .item {
    background-color: rebeccapurple;
    padding: 15px;
    color: $color-white;
    text-align: center;
    cursor: pointer;
    margin: 1px 0;
}
:host /deep/ thead {
    th.t-col-iataCode {
        width: 5%;
    }
    th.t-col-iataCode-code {
        width: 5%;
    }
    th.t-col-airport-name {
        width: 35%;
    }
    th.t-col-city-name {
        width: 30%;
    }
    th.t-col-country-name {
        width: 25%;
    }
}