<rt-buffered-list [fetchMethod]="loadData" #rtList>
    <div class="row">
        <div class="col-md-12 toolbar">
            <ul>
                <li>
                    <button rtLoadData type="button" class="btn btn-primary">Load data</button>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="pager">
                <rt-list-state-done>
                    <span>Loaded records {{rtList.pager.loadedCount}} of {{rtList.pager.totalCount}}</span>

                    <a tabindex="0" rtLoadMore href="#">Show more</a>
                    <input class="form-control" rtSelectOnFocus rtRowCount type="text" maxlength="3" title="count of rows to load" />
                </rt-list-state-done>
            </div>
        </div>
    </div>
</rt-buffered-list>