<rt-buffered-list [fetchMethod]="loadData">
    <div class="row">
        <div class="col-md-12 toolbar">
            <ul>
                <li>
                    <button rtLoadData type="button" class="btn btn-primary">Load data</button>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="pager">
                <rt-list-state-done>
                    <rt-display-pager #rtdp>
                        <span>Loaded records {{rtdp.pager.loadedCount}} of {{rtdp.pager.totalCount}}</span>

                        <a tabindex="0" rtLoadMore href="#">Show more</a>
                        <input class="form-control" rtSelectOnFocus rtRowCount type="text" maxlength="3" title="count of rows to load" />
                    </rt-display-pager>
                </rt-list-state-done>
            </div>
        </div>
    </div>
</rt-buffered-list>