<div class="row" rtSelectionArea>
    <div class="col-md-12 toolbar">
        <ul>
            <li>
                <button class="btn btn-primary" title="Select all items" rtSelectAll [recursive]="false">Select all</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Deselect all items" rtDeselectAll [recursive]="false">Deselect all</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Select all items" rtSelectAll>Select all recursivelly</button>
            </li>
            <li>
                <button class="btn btn-primary" title="Deselect all items" rtDeselectAll>Deselect all recursivelly</button>
            </li>
        </ul>
    </div>
    <div class="col-md-12" *ngFor="let region of regions | async">
        <div class="col-md-12 item" [class.selected]="region.selected" [rtSelectable]="region">
            {{region.name}} ({{region.countries.length}} countries)
        </div>

        <div class="col-md-12" *ngIf="region.selected" rtSelectionArea>
            <div *ngFor="let country of region.countries">
                <div class="col-md-12 item" [class.selected]="country.selected" [rtSelectable]="country" style="background-color: darkcyan;">
                    {{country.name}} ({{country.airports.length}} airports)
                </div>
                <div class="col-md-12" *ngIf="country.selected" rtSelectionArea>
                    <div *ngFor="let airport of country.airports">
                        <div class="col-md-12 item" [class.selected]="airport.selected" [rtSelectable]="airport" style="background-color: darkorange;">
                            {{airport.name}} ({{airport.iataCode}})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>