<div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h1>Ow, Hello!</h1>
        <section>
            <p>Здесь мы познакомимся с библиотекой <code>right-angled</code>, увидим на живых примерах ее основные возможности
                и ссылки на разделы с более детальной информацией по каждому из аспектов библиотеки.
            </p>
        </section>
        <section>
            <h3>Table of contents</h3>
            <ul>
                <li><a href="selection#common-idea">Идеи, которые были заложены в библиотеку</a></li>
                <li><a href="selection#bootstrap">Как подключить</a></li>
            </ul>
        </section>
        <section id="common-idea">
            <h3>Идеи, которые были заложены в библиотеку</h3>
            <p>
                Чтобы знакомство было приятным, давайте сначала озвучим основные идеи, которые заложены в библиотеку.
                <code>right-angled</code> это библиотека для построения функциональных списков данных (они же таблицы, они
                же гриды). Еще в ней есть очень полезный selection, и неплохая модель работы с фильтрами. Selection и фильтры
                могут работать и вообще без списков, но особенно хороши с ними.
            </p>
            <p>
                Главная характеристика, легшая в основу библиотеки, это "ненавязчивость". Которая выражается в следующем.
            </p>
            <ul>
                <li>
                    Библиотека не привязана к фреймворкам типа <code>bootstrap</code> и сама не включает ни единого стиля.
                    Все решения по поводу того, как будет выглядеть приложение, на 100% за вами.
                </li>
                <li>
                    Библиотека почти не диктует, что писать в css. Единственное, о чем она вас попросит - определить стили для трех классов:
                    <code>rt-sortable</code>,
                    <code>rt-sort-asc</code> и <code>rt-sort-desc</code>. Эти классы определят, как будут выглядеть сортируемые
                    столбцы ваших списков. Названия этих классов можно поменять на другие.
                </li>
                <li>
                    Как вам известно, в angular есть директивы и компоненты. Компоненты это директивы с шаблоном. В <code>right-angled</code>,
                    по возможности все сделано на директивах, которые просто добавят функционал к элементу, нарисованному
                    вами, не влияя на структуру. Естественно, компоненты тоже понадобились, но у всех компонентов шаблон
                    выглядит либо так:
                    <br/> <code>&lt;ng-content&gt;&lt;/ng-content&gt;</code>
                    <br/> либо вот так:
                    <br/> <code>&lt;ng-content *ngIf="someCondition"&gt;&lt;/ng-content&gt;</code>
                    <br/> То есть наши компоненты это просто контейнеры, а не верстка.
                </li>
                <li>
                    Расширяемость. Спасибо Angular и идее компонент. Теперь это стало возможным. В директивах и компонентах находится минимум
                    кода. Весь функционал вынесен в сервиса, которые вы можете получить через dependency injection и использовать
                    на свое усмотрение. Как расширяя наш набор компонентов, так и заменяя компоненты <code>right-angled</code>                    тем, что больше подходит вам.
                </li>
                <li>
                    <code>right-angled</code> старается быть минималистичным. Минимум директив и опций, которые вам придется
                    запоминать.
                </li>
                <li>
                    Минимум зависимостей. Единственной зависимостью, помимо самого angular, является написанная мной же библиотека
                    <a target="_blank" href="https://github.com/fshchudlo/e2e4">e2e4</a>. Данная библиотека как раз и реализует
                    весь функционал в абстрактной манере и вообще не имеет зависимостей. В минифицированной версии <code>e2e4</code>                    весит 26 килобайт. <code>right-angled</code> весит 60 килобайт минифицированный.
                </li>
            </ul>
        </section>
        <section id="bootstrap">
            <h3>Как подключить</h3>
            <p>Чтобы подключить <code>right-angled</code>, импортируйте модуль <code>RtModule</code> и подключите в вашем
                <code>AppModule</code>. Также можно подключать функционал по частям. Для этого есть модули <code>RTListsModule</code>,
                <code>RTSelectionModule</code> и <code>RTFiltersModule</code> и <code>RTMiscModule</code>. Детали о них мы
                узнаем позже.
            </p>
            <rt-demo-tab-section>
                <rt-demo-code-tab url="%2Bquick-tour/bootstrap/app.module.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>

        </section>
    </div>
</div>