<div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h1>right-angled quick tour</h1>
        <section>
            <p>Здесь мы познакомимся с библиотекой <code>right-angled</code>, увидим на живых примерах ее основные возможности
                и ссылки на разделы с более детальной информацией по каждому из аспектов библиотеки.
            </p>
        </section>
        <section>
            <h3>Table of contents</h3>
            <ul>
                <li><a href="selection#common-idea">Идеи, которые были заложены в библиотеку</a></li>
                <li><a href="selection#airports-service">"бэкенд" для работы с данными для нашего демо</a></li>
                <li><a href="selection#bootstrap">Подключаем <code>right-angled</code></a></li>
                <li><a href="selection#use-list">Делаем первый список</a></li>
                <li><a href="selection#use-sortings">Добавляем сортировки</a></li>
            </ul>
        </section>
        <section id="common-idea">
            <h3>Идеи, которые были заложены в библиотеку</h3>
            <p>
                Чтобы знакомство было приятным, давайте сначала озвучим основные идеи, которые заложены в библиотеку.
                <code>right-angled</code> это библиотека для построения функциональных списков данных (они же таблицы, они
                же гриды). Еще в ней есть очень полезный selection, и неплохая модель работы с фильтрами. Selection и фильтры
                могут работать и вообще без списков, но особенно хороши с ними.
            </p>
            <p>
                Главная характеристика, легшая в основу библиотеки, это "ненавязчивость". Которая выражается в следующем.
            </p>
            <ul>
                <li>
                    Библиотека не привязана к фреймворкам типа <code>bootstrap</code> и сама не включает ни единого стиля.
                    Все решения по поводу того, как будет выглядеть приложение, на 100% за вами.
                </li>
                <li>
                    Библиотека почти не диктует, что писать в css. Единственное, о чем она вас попросит - определить стили для трех классов:
                    <code>rt-sortable</code>,
                    <code>rt-sort-asc</code> и <code>rt-sort-desc</code>. Эти классы определят, как будут выглядеть сортируемые
                    столбцы ваших списков. Названия этих классов можно поменять на другие.
                </li>
                <li>
                    Как вам известно, в angular есть директивы и компоненты. Компоненты это директивы с шаблоном. В <code>right-angled</code>,
                    по возможности все сделано на директивах, которые просто добавят функционал к элементу, нарисованному
                    вами, не влияя на структуру. Естественно, компоненты тоже понадобились, но у всех компонентов шаблон
                    выглядит либо так:
                    <br/> <code>&lt;ng-content&gt;&lt;/ng-content&gt;</code>
                    <br/> либо вот так:
                    <br/> <code>&lt;ng-content *ngIf="someCondition"&gt;&lt;/ng-content&gt;</code>
                    <br/> То есть наши компоненты это просто контейнеры, а не верстка.
                </li>
                <li>
                    Расширяемость. Спасибо Angular и идее компонент. Теперь это стало возможным. В директивах и компонентах находится минимум
                    кода. Весь функционал вынесен в сервиса, которые вы можете получить через dependency injection и использовать
                    на свое усмотрение. Как расширяя наш набор компонентов, так и заменяя компоненты <code>right-angled</code>                    тем, что больше подходит вам.
                </li>
                <li>
                    <code>right-angled</code> старается быть минималистичным. Минимум директив и опций, которые вам придется
                    запоминать.
                </li>
                <li>
                    Минимум зависимостей. Единственной зависимостью, помимо самого angular, является написанная мной же библиотека
                    <a target="_blank" href="https://github.com/fshchudlo/e2e4">e2e4</a>. Данная библиотека как раз и реализует
                    весь функционал в абстрактной манере и вообще не имеет зависимостей. В минифицированной версии <code>e2e4</code>                    весит 26 килобайт. <code>right-angled</code> весит 60 килобайт минифицированный.
                </li>
            </ul>
        </section>
        <section id="airports-service">
            <h3>"бэкенд" для работы с данными для нашего демо</h3>
            <p>
                Для работы нам понадобятся данные. Вместо реализации полноценного бэкенда, мы будем использовать простой класс <code>AirportsService</code>,
                который будет получать с сервера <code>json</code>-файл с данными о 99 аэропортах, и обрабатывать их при
                помощи
                <a target="_blank" href="https://lodash.com">lodash</a> прямо в браузере.
            </p>
            <p>
                Для работы с простыми списками мы реализуем метод <code>getAirportsList</code>. Данный метод будет принимать
                параметр с контрактом
                <code>AirportsListRequest</code>, который содержит параметры сортировки и фильтрации. Возвращать данный метод
                будет массив с объектами контракта <code>Airport</code>, то есть просто массив с данными.
            </p>
            <p>
                Для работы с paging мы реализуем метод <code>getAirportsPagedList</code>, который будет принимать параметр
                с контрактом
                <code>AirportsPagedListRequest</code>, расширяющий контракт <code>AirportsListRequest</code> свойствами
                <code>skip</code> и <code>take</code>, указывающими сколько записей при загрузке необходимо проспустить,
                а сколько загрузить. Возвращать данный метод будет объект с контрактом <code>AirportsListResponse</code>,
                содержащим массив аэропортов и поля <code>totalCount</code> и <code>loadedCount</code>, указывающие, сколько
                всего записей имеется на "сервере" без учета paging и сколько записей было загружено в результате текущего
                запроса.
            </p>
            <p>
                Ниже вы можете увидеть исходный код всех упомянутых классов и интерфейсов.
            </p>
            <rt-demo-tab-section>
                <rt-demo-code-tab url="shared/data/airport.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/data/airports-list-request.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/data/airports-paged-list-request.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/data/list-response.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/data/airports.service.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="shared/data/sort-parameter.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="bootstrap">
            <h3>Подключаем <code>right-angled</code></h3>
            <p>Чтобы подключить <code>right-angled</code> мы импортируем модуль <code>RtModule</code> и подключаем его в
                <code>AppModule</code>. Также можно подключать функционал по частям. Для этого есть модули <code>RTListsModule</code>,
                <code>RTSelectionModule</code> и <code>RTFiltersModule</code> и <code>RTMiscModule</code>.
            </p>
            <rt-demo-tab-section>
                <rt-demo-code-tab url="%2Bquick-tour/bootstrap/app.module.ts">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
        </section>
        <section id="use-list">
            <h3>Делаем первый список</h3>
            <p>
                Чтобы превратить наш компонент в список, нам необходимо обернуть его компонентом <code>rt-list</code>. Данный
                компонент принимает обязательный параметр <code>fetchMethod</code>, в котором необходимо указать функцию
                запроса данных, которую будет вызывать список, передавая ей параметры запроса (о них ниже). Возвращать данная
                функция должна
                <code>Promise</code>, <code>Observable</code> или <code>EventEmitter</code>.
            </p>
            <p>
                В нашем случае это будет функция, обращающаяся к airportsService и возвращающая <code>Observable&lt;Airport[]&gt;></code>.
                Обратите внимание, что <code>getAirports</code> это не метод, а свойство с типом <code>Function</code>, проинициализированное
                стрелочной функцией. Это необходимо для сохранения контекста <code>this</code> при вызове функции. Разумеется,
                подход с использованием <a href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Global_Objects/Function/bind">Function.bind</a>                тоже работает.
            </p>
            <rt-demo-tab-section>
                <rt-demo-sample-tab tabTitle="Live demo">
                    <rt-demo-use-list></rt-demo-use-list>
                </rt-demo-sample-tab>
                <rt-demo-code-tab url="%2Bquick-tour/use-list/use-list.component.ts">
                </rt-demo-code-tab>
                <rt-demo-code-tab url="%2Bquick-tour/use-list/use-list.component.html">
                </rt-demo-code-tab>
            </rt-demo-tab-section>
            <p>
                Наш первый список готов. Пока он только самостоятельно делает первый запрос за данными, что не особо-то впечатляет. Давайте
                добавим ему побольше функционала.
            </p>
        </section>
        <section id="use-sortings">
            <h3>Добавляем сортировки</h3>
            <p>
                <rt-demo-tab-section>
                    <rt-demo-sample-tab tabTitle="Live demo">
                        <rt-demo-use-sortings></rt-demo-use-sortings>
                    </rt-demo-sample-tab>
                    <rt-demo-code-tab url="%2Bquick-tour/use-sortings/use-sortings.component.ts">
                    </rt-demo-code-tab>
                    <rt-demo-code-tab url="%2Bquick-tour/use-sortings/use-sortings.component.html">
                    </rt-demo-code-tab>
                </rt-demo-tab-section>
            </p>
        </section>
    </div>
</div>