@import '../../shared.scss';

form {
    label {
        color: $color-muted;
        font-weight: normal;
        line-height: 1.5;
    }

    margin-bottom: 40px;

    .btn {
        margin-top: 21px;
        margin-bottom: -5px;

        & + .btn {
            margin-left: 10px;
        }
    }
}

.btn {
    margin-top: 21px;
    margin-bottom: -5px;

    &.btn-reset {
        @include img-button();
        @include icon-reset();
    }

    &.btn-load {
        @include img-button();
        @include icon-load();
    }

    &.btn-cancel {
        @include img-button();
        @include icon-cancel();
    }
}
