<h2>Working with filters</h2>
<section>
	<h3>Table of contents</h3>
	<ul class="agenda">
		<li><a href="list-controls#common-idea">Общая идея</a></li>
		<li><a href="list-controls#bootstrap">Как подключить</a></li>
		<li><a href="list-controls#filter">Аннотация <code>@filter</code></a></li>
		<li>
			<a href="list-controls#filter-registration">Регистрация объекта как filter target</a>
			<ul>
				<li>
					<a href="list-controls#register-as-filter">Директива <code>rtRegisterAsFilter</code></a>
				</li>
				<li>
					<a href="list-controls#view-child">Injection via <code>@ViewChild</code></a>
				</li>
			</ul>
		</li>
		<li><a href="list-controls#reset-settings">Директива <code>rtResetSettings</code></a></li>
	</ul>
</section>