<h2>Working with filters</h2>
<section>
	<h3>Table of contents</h3>
	<ul class="agenda">
		<li><a href="filters#common-idea">Общая идея</a></li>
		<li><a href="filters#bootstrap">Как подключить</a></li>
		<li><a href="filters#filter-annotation">Параметры аннотации <code>@filter</code></a></li>
		<li>
			<a href="filters#filter-registration">Регистрация объекта как filter target</a>
			<ul>
				<li>
					<a href="filters#constructor-injection">Injection of <code>FiltersService</code> via constructor</a>
				</li>
				<li>
					<a href="filters#register-as-filter"><code>rtRegisterAsFilter</code> directive</a>
				</li>
				<li>
					<a href="filters#list-init"><code>onListInit</code> list event</a>
				</li>
			</ul>
		</li>
	</ul>
</section>
<section id="common-idea">
	<h3>Общая идея</h3>
	<p>
		Каждый список обращается на сервер за данными, для получения которых списку необходимо строить запрос. Если вы посмотрели
		наш <a href="#" [routerLink]="['/quick-tour']">quick tour</a>, то вы знаете, что наши списки так же умеют сбрасывать
		состояние параметров в значения по-умолчанию.
	</p>
	<p>
		Так же, возможно, вы уже видели, что наши списки можно настроить, чтобы они <a href="#" [routerLink]="['/persistence']">сохраняли свое состояние</a>,
		например, в
		<code>queryString</code>. Если полученную ссылку отправить кому-нибудь, то, открыв ее, он получит список с теми же значениями
		параметров сортировки и paging, что и у отправителя.
	</p>
	<p>
		Весь этот функционал достаточно легко было реализовать в библиотеке <code>right-angled</code> для списка самого по себе.
		Но как быть, если речь заходит о кастомных параметрах, например, когда нужно добавить дополнительный фильтр к списку? Как
		сделать так, чтобы он тоже отправлялся на сервер в качестве параметра, сбрасывался в значение по умолчанию, сохранялся,
		восстанавливал свое значение при открытии страницы? </p>
	<p>
		И желательно делать это с минимумом кода. Поскольку помнить, что фильтр необходимо добавить в параметры запроса это легко
		- мы его для этого и создаем. А вот про остальной функционал забыть в рабочей спешке очень легко. И обратить внимание на
		то, что наш фильтр, к примеру, не сбрасывается методом <code>resetSettings</code> мы можем долгое время спустя. Когда
		приложение уже попало к конечным пользователям.
	</p>
	<p>
		Для решения этой проблемы в <code>right-angled</code> реализованы аннотация <code>@filter</code> и сервис <code>FiltersService</code>.
	</p>
	<p>
		Идея достаточно проста. Мы помечаем свойства нашего компонента, представляющие собой фильтры, аннотацией <code>@filter</code>.
		При необходимости мы можем указать аннотации дополнительные параметры, но о них ниже. Вторым щагом мы регистрируем раработанный
		компонент в сервисе
		<code>FiltersService</code> уже настроеном в <code>RtList</code>. После этого список будет обрабатывать параметры нашего
		компонента во всех описанных выше сценариях так же, как свои.
	</p>
	<p>
		Ниже мы привели живой пример компонента, реализующего список с фильтрами. Как вы можете заметить, свойства компонента помечены
		аннотацией <code>@filter</code> а сам компонент регистрируется в сервисе <code>FiltersService</code> в обработчике события
		<code>onListInit</code>. Теперь значения этих полей автоматически попадают в запрос на сервер, сбрасываются кнопкой "reset
		settings", сериализуются в <code>queryString</code> и восстанавливаются из <code>queryString</code> при обновлении страницы.
	</p>
	<p>
		Дополнительно, под таблицей мы отображаем при помощи <a href="https://angular.io/docs/ts/latest/api/common/index/JsonPipe-pipe.html"
			target="_blank">json pipe</a> параметры последнего выполненного запроса, чтобы вы могли оценить, в каком виде параметры
		отправляются на сервер.
	</p>
  
	<rt-demo-tab-section>
		<rt-demo-sample-tab>
			<rt-demo-filters-sample></rt-demo-filters-sample>
		</rt-demo-sample-tab>
		<rt-demo-code-tab url="%2Bfilters/filters-sample/filters-sample.component.ts">
		</rt-demo-code-tab>
		<rt-demo-code-tab url="%2Bfilters/filters-sample/filters-sample.component.html">
		</rt-demo-code-tab>
	</rt-demo-tab-section>
</section>
<section id="bootstrap">
	<h3>Как подключить</h3>
	<p>
		Сам по себе функционал фильтров подразумевает простой импорт аннотации <code>@filter</code> и пометку ей свойств вашего
		компонента. Если вы хотите использовать функционал фильтров по отдельности от списков, то вам так же необходимо импортировать
		в нужный компонент сервис <code>RtFiltersService</code> и указать его в коллекции <a target="_blank" href="https://angular.io/docs/ts/latest/api/core/index/Component-decorator.html">providers</a>		вашего компонента.
	</p>
	<p>
		Но, если вы планируете пользоваться описанной ниже директивой <code>rtRegisterAsFilter</code>, то необходимо будет также
		импортировать модуль <code>RTFiltersModule</code>. Или модуль <code>RtModule</code>, включающий в себя функционал всей
		библиотеки <code>right-angled</code> целиком
	</p>
	<rt-demo-tab-section>
		<rt-demo-code-tab url="%2Bfilters/bootstrap/app.module.tsfake">
		</rt-demo-code-tab>
	</rt-demo-tab-section>

</section>
<section id="filter-annotation">
	<h3>Параметры аннотации <code>@filter</code></h3>
	<p>
		При использовании аннотации <code>@filter</code> можно указать ряд дополнительных параметров, при помощи контракта <a target="_blank"
			href="https://fshchudlo.github.io/e2e4/interfaces/filterconfig.html">FilterConfig</a>. Если вы используете <code>@filter</code>		без параметров, то данные настройки инициализируются значениями по умолчанию, которые мы перечислим ниже.
	</p>
	<p>
		Так же вы можете передавать любые кастомные свойства в объект-параметр аннотации <code>@filter</code>. Например, это может
		быть полезно, чтобы фильтровать параметры по переданному кастомному признаку. К примеру, мы используем кастомное свойство
		<code>persistable</code>, чтобы сохранять только часть состояния в разделе про <a href="#" [routerLink]="['/persistence']">state persistence</a>
	</p>
	<p>
		Так же возможно использование аннотации <code>@filter</code> с параметром-строкой. В таком случае будут использованы настройки
		по умолчанию, но переданным параметром-строкой будет проинициалирован параметр <code>parameterName</code>. То есть данная
		перегрузка это shorthand, позволяющий поменять только название параметра.
	</p>
	<p>
		Параметры объекта <a target="_blank" href="https://fshchudlo.github.io/e2e4/interfaces/filterconfig.html">FilterConfig</a>		имеют следующее значение:
	</p>
	<ul class="bulleted">
		<li>
			<code>parameterName</code> - имя параметра, которое будет использоваться при сериализации/десериализации значений. По
			умолчанию значение данного свойства равно имени аннотируемого свойства.
			<rt-demo-tab-section>
				<rt-demo-sample-tab>
					<rt-demo-parameter-name-sample></rt-demo-parameter-name-sample>
				</rt-demo-sample-tab>
				<rt-demo-code-tab url="%2Bfilters/parameter-name-sample/parameter-name-sample.component.ts">
				</rt-demo-code-tab>
				<rt-demo-code-tab url="%2Bfilters/parameter-name-sample/parameter-name-sample.component.html">
				</rt-demo-code-tab>
			</rt-demo-tab-section>

		</li>
		<li><code>coerce</code> - указывает, что значение параметра при десериализации необходимо принудительно приводить к типу. Например,
			это означает, что строка "null" будет сконвертирована в <code>null</code>, строка "true" в булево значение
			<code>true</code>, строка "1.0" в число <code>1.0</code> и т.д. Такой подход полезен, когда значения, например, считываются
			из <code>queryString</code>. По умолчанию данный параметр имеет значение <code>true</code>.

			<rt-demo-tab-section>
				<rt-demo-sample-tab>
					<rt-demo-coerce-sample></rt-demo-coerce-sample>
				</rt-demo-sample-tab>
				<rt-demo-code-tab url="%2Bfilters/coerce-sample/coerce-sample.component.ts">
				</rt-demo-code-tab>
				<rt-demo-code-tab url="%2Bfilters/coerce-sample/coerce-sample.component.html">
				</rt-demo-code-tab>
			</rt-demo-tab-section>

		</li>
		<li>
			<code>defaultValue</code> - значение по умолчанию, в которое будет сбрасываться аннотированное свойство при сбросе параметров.
			Если данный параметр не был указан, то <a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/filtersservice.html">FiltersService</a>			запомнит в качестве значения по умолчанию значение аннотированного свойства в момент первого использования любого из методов
			<a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/filtersservice.html">FiltersService</a>.
			<rt-demo-tab-section>
				<rt-demo-sample-tab>
					<rt-demo-default-value-sample></rt-demo-default-value-sample>
				</rt-demo-sample-tab>
				<rt-demo-code-tab url="%2Bfilters/default-value-sample/default-value-sample.component.ts">
				</rt-demo-code-tab>
				<rt-demo-code-tab url="%2Bfilters/default-value-sample/default-value-sample.component.html">
				</rt-demo-code-tab>
			</rt-demo-tab-section>
		</li>
		<li>
			<code>emptyIsNull</code> - означает, что <code>falsy</code>-значения должны конвертироваться в
			<code>null</code> при передаче в качестве параметра. По умолчанию данное параметр равен <code>false</code>.
			<rt-demo-tab-section>
				<rt-demo-sample-tab>
					<rt-demo-empty-is-null-sample></rt-demo-empty-is-null-sample>
				</rt-demo-sample-tab>
				<rt-demo-code-tab url="%2Bfilters/empty-is-null-sample/empty-is-null-sample.component.ts">
				</rt-demo-code-tab>
				<rt-demo-code-tab url="%2Bfilters/empty-is-null-sample/empty-is-null-sample.component.html">
				</rt-demo-code-tab>
			</rt-demo-tab-section>
		</li>
		<li>
			<code>ignoreOnAutoMap</code> - если данный параметр равен <code>true</code>, то значение не будет разбираться и применяться
			к аннотированному свойству при восстановлении значений функцией <a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/filtersservice.html#applyparams">applyparams</a>.
			По умолчанию данный параметр имеет значение <code>false</code>.
		</li>
		<li>
			<code>parseFormatter</code> - кастомная функция, которая будет использоваться при разборе значений. Например, может быть
			полезна, когда ваш параметр представляет собой сложный объект с несколькими полями и вы используете сериализацию в queryString.
			При восстановлении состояния из <code>queryString</code> вы можете конструировать свой сложный объект из сериализованного
			состояния, которое будет передано в данную функцию в качестве параметра.
		</li>
		<li>
			<code>serializeFormatter</code> - кастомная функция, которая может быть использована для сериализации значения свойства.
			Так же может быть полезна, если ваше свойство представляет собой сложный объект, который необходио превращать в параметр
			при помощи кастомной логики. Дополнительно, при сериализации параметров <a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/filtersservice.html">FiltersService</a>			проверяет, не имеет ли параметр метода <code>toRequest</code>. Если такой метод имеется, то <a target="_blank" href="https://fshchudlo.github.io/e2e4/classes/filtersservice.html">FiltersService</a>			вызывает его и использует полученное значения в качестве сериализованного. Это позволяет повторно использовать логику
			сериализации, а не copy-paste ее при использовании объекта в качестве <code>@filter</code> во множестве мест.
		</li>
	</ul>
</section>
<section id="filter-registration">
	<h3>Регистрация объекта как filter target</h3>
	<section id="constructor-injection">
		<h4>Injection of <code>RtFiltersService</code> via constructor</h4>
	</section>
	<section id="register-as-filter">
		<h4><code>rtRegisterAsFilter</code> directive</h4>
	</section>
	<section id="list-init">
		<h4><code>onListInit</code> list event</h4>
	</section>
</section>